<html>
    <head>
        <title>Pokemon Battle</title>
    </head>
    <body>
        <h1>Selection Of Pokemons:</h1>

        <form method="post">
            {% csrf_token %}
            <label for="pokemon1">Choose Pokemon 1: </label>
            <select name="pokemon1">
                <option value="">Select Pokemon</option>
                {%for i in caught_pokemons%}
                    <option value="{{i.name}}">{{i.name}}</option>
                {%endfor%}
            </select>
            <br>
            <label for="pokemon2">Choose Pokemon 2: </label>
            <select name="pokemon2">
                <option value="">Select Pokemon</option>
                {%for i in caught_pokemons%}
                    <option value="{{i.name}}">{{i.name}}</option>
                {%endfor%}
            </select>
            <br>
            <button type="submit">Battle!</button><br>
        </form>

        {% if winner %}
            <h2>Winner: {{ winner }}</h2>
        
        {% endif %}

    </body>
</html>